@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: rgb(255, 255, 255);
  color-scheme: light;
}

.hover-duration-300 {
  @apply duration-300
    transition;
}

.table-header {
  @apply text-sm 
    font-medium 
    text-gray-900 
    px-6 
    py-2 
    text-left;
}

.table-record {
  @apply text-sm 
    text-gray-900 
    font-normal 
    px-6 
    py-2 
    whitespace-nowrap;
}
