---
import Sidebar from "../components/Sidebar";
import ToastProvider from "../providers/ToastProvider";
import "../globals.css";
---

<html lang="en" class="light">
    <!-- <html lang="en" class="dark"> -->
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>Astro</title>
    </head>

    <body class="font-Inter h-full bg-fill-0">
        <ToastProvider client:only />
        <div id="overlay"></div>
        <Sidebar client:only>
            <slot />
        </Sidebar>
    </body>
</html>
